(
"AE",
"AppKit",
"CFNetwork",
"CoreFoundation",
"DTXConnectionServices",
"DVTRadarKit",
"Foundation",
"HIToolbox",
"WebKit",
"WebKitLegacy",
"libLTO.dylib",
"libMainThreadChecker.dylib",
"libclang.dylib",
"libdispatch.dylib",
"libdyld.dylib",
"libobjc.A.dylib",
"libswiftAVFoundation.dylib",
"libswiftAppKit.dylib",
"libswiftCore.dylib",
"libswiftCoreAudio.dylib",
"libswiftCoreData.dylib",
"libswiftCoreGraphics.dylib",
"libswiftCoreImage.dylib",
"libswiftCoreMedia.dylib",
"libswiftDarwin.dylib",
"libswiftDispatch.dylib",
"libswiftFoundation.dylib",
"libswiftIOKit.dylib",
"libswiftObjectiveC.dylib",
"libswiftQuartzCore.dylib",
"libswiftSwiftOnoneSupport.dylib",
"libswiftXPC.dylib",
"libswiftos.dylib",
"libswiftsimd.dylib",
"libsystem_blocks.dylib",
"libsystem_pthread.dylib",
"libsystem_trace.dylib",
"libxpc.dylib"
)