(
"main",
"DVTDispatchSync",
"DVTDispatchAsync",
"DVTAsyncPerformBlock",
"DVTSyncPerformBlock",
"DVTInvokeWithStrongOwnership",
"-[DVTBindingHelper unbind:]",
"-[DVTObjectBindingUtilities dvtGeneric_unbind:]",
"-[DVTViewController primitiveInvalidate]",
"-[IDEViewController primitiveInvalidate]",
"-[IDEViewController revertState]",
"-[DVTOperation init]",
"+[DVTOperation operationWithBlock:]"
)