(
" _DVTNSRunLoopLatencyChecker_performSelectorWithToken:]",
"+[DVTWeakInterposer weakInterposerForRepresentedObject:]",
"-[DVTApplication nextEventMatchingMask:untilDate:inMode:dequeue:]",
"-[DVTModelObjectGraph",
"-[DVTModelTreeNode",
"-[DVTTableCellView",
"-[IDEBuildOperation initWithConfiguration:]",
"-[NSNotificationCenter",
".cxx_destruct]",
"@nonobjc Timer.__allocating_init(timeInterval:target:selector:userInfo:repeats:)",
"DVTAsyncPerformBlock",
"DVTBarBackground",
"DVTBindingHelper",
"DVTBindingToken",
"DVTBorderedView",
"DVTConcreteHashTable",
"DVTConcreteMapTable",
"DVTConcretePointerArray",
"DVTControllerContentView",
"DVTDelayedInvocation",
"DVTDispatchAfter",
"DVTDispatchAsync",
"DVTDispatchBarrierAsync",
"DVTDispatchBarrierSync",
"DVTDispatchGroupAsync",
"DVTDispatchGroupNotify",
"DVTDispatchLock",
"DVTDispatchSourceSetEventHandler",
"DVTDispatchSync",
"DVTFuture",
"DVTInvokeWithFailureHint",
"DVTInvokeWithLazyFailureHint",
"DVTLayoutView_ML",
"DVTNotificationToken",
"DVTObjectBindingUtilities",
"DVTObservingBlockToken",
"DVTObservingToken",
"DVTOneShotBlock",
"DVTOutlineView",
"DVTPointerFunctions",
"DVTReplacementView",
"DVTRunLoopToken",
"DVTSelectorBasedObservingToken",
"DVTSharedObserver",
"DVTSplitView",
"DVTStateRepository",
"DVTStateToken",
"DVTSyncPerformBlock",
"DVTTimeSlicedMainThreadWorkQueue",
"IDEConcreteClientTracker",
"IDEConcreteClientTrackingToken",
"IDEContainerQuery",
"IDEControlGroup",
"IDENavBar",
"IDENavigator",
"IDENavigatorOutlineView",
"IDEOutlineBasedNavigator",
"IMP_DVTMainThreadLatencyChecker",
"_DVTAsyncPerformBlockOnMainRunLoop",
"_DVTNotificationReceiver",
"_DVTRunLoopToken_perform:]",
"_DVTRunLoopToken_perform]",
"_IDENavigatorOutlineViewDataSource",
"_NSObject_ObserveValueForKeyPathOfObjectChangeContextIMP_DVTMainThreadLatencyChecker",
"__DVTMainThreadLatencyChecker__addExecutionBlock:",
"__DVTMainThreadLatencyChecker__init",
"__DVTMainThreadLatencyChecker__loadAndReturnError:",
"__DVTMainThreadLatencyChecker__performSelector",
"__DVTMainThreadLatencyChecker__setCompletionBlock:",
"__destroy_helper_block",
"dvt_addObserver:selector:name:object:]",
"dvt_addObserverForKeyPath:options:owner:withHandlerBlock:]",
"dvt_addObserverForName:object:queue:usingBlock:]",
"dvt_arrayByApplyingSelector:]",
"dvt_cancelAllObservingTokensForOwner:]",
"dvt_clearNibBindings]",
"dvt_newObserverForKeyPath:options:owner:creationBacktrace:withHandlerBlock:]",
"dvt_newObserverForKeyPath:options:owner:withHandlerBlock:]",
"dvt_newObserverForKeyPath:options:withHandlerBlock:]",
"dvt_performAfterDelay:inModes:usingBlock:]",
"dvt_performAfterDelay:usingBlock:]",
"dvt_performOnRunLoop:inModes:order:usingBlock:]",
"dvt_removeObserverWithName:fromKeyPath:ofObject:]",
"dvt_unregisterValueChangedCallbackForKeyPath:ofObject:]",
"performSelector__DVTMainThreadLatencyChecker__",
"receiveNotification__DVTMainThreadLatencyChecker__",
"registerClientWithName:promptForCancellation:cancellationBlock:]",
"registerUncancellableClientWithName:]",
"synthesizeMutableSetProperty:withInstanceVariable:]",
"synthesizeMutableSetProperty:withInstanceVariable:]_block_invoke",
"updateBoundValueForBinding:]",
)